header{
    height: 70px;
}
form{
    width: 90%;
}
.my_w-px-50{
    width: 50px;
}
.my_w-60{
    width: 60%;
}
.my_w-10{
    width: 10%;
}
.my_min-w-103-px{
    min-width: 103px;
}
.nav-container{
    width: 70px;
    height: calc(100vh - 70px);
    background-color: darkblue;
}
.main-container{
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
    background-color: crimson;
}
li{
    list-style: none;
    color: white;
    
}

.contenuto-2{
    min-width: 256px;
}

.my_button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenuto-2 button{
    background-color: rgb(3, 0, 96);
    color: white;
    font-size: 11px;
    border-radius: 20px;
  
    margin-right: 3px;
    border: none;
}
@media screen and (min-width: 0px) {
    #offcanvasRight{
        width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .contenuto{
        width: calc((100% / 3) - 2 * 1em);
        margin-left:1em;
        margin-right: 1em;
    
    }
    .contenuto-1{
        order: 3;

    }
    .contenuto-2{
        order: 1;
    }
    .contenuto-3{
        order: 2;
    }
    #offcanvasRight{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    
    section .nav-container{
        width: 150px;
    }
    section .main-container{
        width: calc(100vw - 150px);
    }
    #offcanvasRight{
        width: 50%;
    }
   

}
