header{
    height: 70px;
}
form{
    width: 90%;
}
.my_w-px-50{
    width: 50px;
}

.nav-container{
    width: 70px;
    height: calc(100vh - 70px);
    background-color: darkblue;
}
.main-container{
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
    background-color: crimson;
}
li{
    list-style: none;
    color: white;
    
}



@media screen and (min-width: 992px) {
    
    section .nav-container{
        width: 150px;
    }
    section .main-container{
        width: calc(100vw - 150px);
    }


}
