header{
    height: 70px;
}
form{
    width: 90%;
}
.my_w-px-50{
    width: 50px;
}
.nav-container{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: darkblue;
}
.main-container{
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
    background-color: crimson;
}